<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>

    <!-- <customErrors mode="On" defaultRedirect="/404/F404.html">
      <error statusCode="404" redirect="/404/F404.html" />
      <error statusCode="500" redirect="/404/F500.html" />
    </customErrors> -->

    <httpRuntime targetFramework="4.0"/>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <customErrors mode="Off"/>
	<compilation debug="true">
    <assemblies><add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/><add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/><add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/><add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/><add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/></assemblies></compilation>
    
    
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="5000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.webServer>
		
	    <httpProtocol>
	      <customHeaders>
	        <add name="Access-Control-Allow-Origin" value="*"/>
			<add name="Access-Control-Allow-Headers" value="Content-Type, Accept"/>
			<add name="Access-Control-Allow-Methods" value="*"/>
	      </customHeaders>
	    </httpProtocol>	   
			
		
	  </system.webServer>
</configuration>
