<?xml version="1.0"?>
<configuration>
	<appSettings/>
	<system.web>	
	    <webServices>
	      
	    </webServices>
	</system.web>
	<system.webServer>
		
	    <httpProtocol>
	      
	    </httpProtocol>	   
		<modules runAllManagedModulesForAllRequests="true">
			
		</modules>		
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/> 
	  </system.webServer>
</configuration>	